@{
    ViewBag.Title = "Contactanos mediante correo";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        contactanos directamente a las areas de mediante sus correo.
    </p>

    <address>
        <strong>Suport: Login y proteccion de rutas y cambiar las opciones del menu</strong>
        <br />
        <a href="mailto:edgar.borja@ister.edu.ec">edgar.borja@ister.edu.ec</a><br />
        <br />


        <strong>Support: Asignamiento de cargos a empleados, crear nuevos cargos y listamietno de empleados con cargo actual e historial de cargos</strong>
        <br />
        <a href="mailto:michael.amaguana@ister.edu.ec">michael.amaguana@ister.edu.ec</a><br />

        <br />

        <strong>Support: CRUD de empleados</strong>
        <br />
        <a href="mailto:erik.carcelen@ister.edu.ec">erik.carcelen@ister.edu.ec</a><br />
        <br />


        <strong>Support: Asignamiento de salario a empleados, listar empleado con salario e historial de todos los salarios</strong>
        <br />
        <a href="mailto:alexander.velasquez@ister.edu.ec">alexander.velasquez@ister.edu.ec</a><br />
        <br />

        <strong>Support: Listamiento de depatamentos, asignamiento de departamentos a empleados, historial de departamentos por empleado</strong>
        <br />
        <a href="mailto:silvioj.limongi@gmail.com">silvioj.limongi@gmail.com</a><br />
        <br />

        <strong>Marketing:</strong>
        <br />
        <a href="mailto:edgar.borja@ister.edu.ec">Marketing@example.com</a>
        <br />

    </address>
</main>